# U.S. Medical Insurance Costs

In [4]:
import pandas as pd
insurance = pd.read_csv("insurance.csv")

insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [55]:
from attr import dataclass, field


@dataclass
class Analayser:
    ages: field(default = list)
    sex: field(default = list)
    bmi: field(default = list)
    children: field(default = list)
    smoker: field(default = list)
    region: field(default = list)
    charges:  field(default = list)

    def get_mean_age(self) -> str:
        mean_age = 0
        for age in self.ages: 
            mean_age += age

        result = mean_age / len(self.ages)
        #Rounds the result to the second decimal point    
        return f"The mean age in the datagroup {round(result, 2)} years" 

    def get_locations(self) -> dict:
        
        my_region = {}
        for location in self.region:
            if location not in my_region.keys():
                my_region[f"{location}"] = 0
            elif location in my_region.keys():
                my_region[f"{location}"] += 1

        return my_region

    def locator(self) -> str:
        max_value = list(self.get_locations().values())[0]
        max_key = []
        max_key.append(list(self.get_locations().keys())[0])

        for key, value in self.get_locations().items():
            if value > max_value:
                max_value = value
                max_key = []
                max_key.append(key)
            elif value == max_value:
                max_key.append(key)

        if len(max_key) == 1:
            return f"The region with most insured was: {max_key[0]} with a number of {max_value} insured"
        else:
            return f"The most insured were from {max_key.__str__} numbering {max_value}"
    
    def cost_based_on_smoking(self, is_smoker = "yes") -> float:
        mean_charge = 0
        counter = 0
        for i in range(len(self.charges)):
            if self.smoker[i] == is_smoker:
                mean_charge += self.charges[i]
                counter += 1
            
        mean_charge /= counter
        return mean_charge

    def compare_cost_based_on_smoking(self) -> None:
        smoker = self.cost_based_on_smoking(is_smoker = "yes")
        non_smoker = self.cost_based_on_smoking(is_smoker = "no")
        print(f"Average cost for non-smokers is: {round(non_smoker, 2)}")
        print(f"Average cost for smokers is: {round(smoker, 2)}")
    
    def average_age_people_with_atleast_one_child(self):
        mean_age = 0
        counter = 0
        for i in range(len(self.ages)):
            if self.children[i] >= 1:
                mean_age += self.ages[i]
                counter += 1
        
        mean_age /= counter
        return mean_age

In [56]:
my_data = Analayser(ages=insurance["age"], sex=insurance["sex"], bmi=insurance["bmi"], children=insurance["children"], smoker=insurance["smoker"], region=insurance["region"], charges=insurance["charges"] )
my_data.get_mean_age()
my_data.get_locations()
my_data.locator()
my_data.cost_based_on_smoking(is_smoker = "no")
my_data.compare_cost_based_on_smoking()
my_data.average_age_people_with_atleast_one_child()

Average cost for non-smokers is: 8434.27
Average cost for smokers is: 32050.23

39.78010471204188