# U.S. Medical Insurance Costs

In [6]:
import pandas as pd
insurance = pd.read_csv("insurance.csv")

insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [25]:
from attr import dataclass, field


@dataclass
class Analayser:
    ages: field(  default= list)
    sex: field( default= list)
    bmi: field( default=list)
    children: field(default= list)
    smoker: field(default= list)
    region: field(default= list)
    charges:  field(default= list)

    def get_mean_age(self) -> str:
        mean = 0
        for age in self.ages: 
            mean += age

        result = mean / len(self.ages)
        #Rounds the result to the second decimal point    
        return f"The mean age in the datagroup {round(result, 2)} years" 

    def get_locations(self) -> dict:
        my_region = {}
        for location in self.region:
            if location not in my_region.keys():
                my_region[f"{location}"] = 0
            elif location in my_region.keys():
                my_region[f"{location}"] += 1

        return my_region

    def locator(self):
        for location in self.get_locations:
            pass

    def smokercost(self):
        pass
    def non_smokercost(self):
        pass
    def compare_cost(self):
        pass
    def people_with_one_child_average_age(self):
        pass

In [26]:
my_data = Analayser(ages=insurance["age"], sex=insurance["sex"], bmi=insurance["bmi"], children=insurance["children"], smoker=insurance["smoker"], region=insurance["region"], charges=insurance["charges"] )
my_data.get_mean_age()
my_data.get_locations()

{'southwest': 324, 'southeast': 363, 'northwest': 324, 'northeast': 323}

In [59]:
def mean_age(ages) -> int : 
    sum = 0
    for age in ages:
        sum += age
    mean = sum / len(ages)
    return mean

def locator(locations):
    args = SE, SW, NE, NW = 0, 0, 0, 0
    for location in locations:
        match location:
            case "southwest":
                SW += 1
            case "southeast":
                SE += 1
            case "northeast":
                NE += 1
            case "northwest":
                NW += 1
            case _:
                return f"location {location} is not in std cases"
    
    print(f"We have {SW} people from the southwest") 
    print(f"We have {SE} people from the southeast")
    print(f"We have {NW} people from the northwest")
    print(f"We have {NE} people from the northeast")

    args = {"southeast": SE, "southwest": SW, "northeast": NE, "northwest": NW}
    max  = list(args.values())[0]
    max_loc = list(args.keys())[0]
    for key, value in args.items():
        if value >= max:
            max = value
            max_loc = key

    return f"Location with most insured is {max_loc} and it insures {max}"

In [60]:
mean = mean_age(insurance['age'])
print(f"Mean age is {mean}")

locator(insurance["region"])

Mean age is 39.20702541106129
We have 325 people from the southwest
We have 364 people from the southeast
We have 325 people from the northwest
We have 324 people from the northeast

'Location with most insured is southeast and it insures 364'